// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-cod-gray: #141414;
$color-mine-shaft: #262626;
$color-gray: #868383;
$color-web-orange: #ffa902;
$color-alabaster: #f9f9f9;
$color-alto: #d9d9d9;
$color-sunset-orange: #ff4d4f;

$color-white-60: rgba($color-white, 0.6);
$color-black-25: rgba($color-black, 0.25);
$color-black-85: rgba($color-black, 0.85);

// Typography
$ff-main: 'Poppins', 'Arial', sans-serif;
$ff-error: 'Roboto', 'Arial', sans-serif;


